body {
  padding:0.5em;
  background-color:#f2f1f0;
}
#main_box{
  display:flex;
  flex-flow:column;
}
#prefecture_box {
  display:flex;
  flex-flow:column;
}
#button_box{
  padding:0.5em 0em 0em 0em;
  display:flex;
  justify-content:right;
}
.item_name {
  margin:0em 0.5em 0.5em 0.5em;
}
