#main_box{
  margin:1em 1em 1em 1em;
  background-color:#f2f1f0;
}
#head_box{
  display:flex;
  justify-content:space-between;
}
#contents_box {
  display:flex;
  justify-content:space-between;
}
#weather_box{
  display:flex;
  flex-flow:column;
}
#button_box{
  margin-top:1em;
  margin-left:1em;
  width:150px;
  display:flex;
  flex-flow:column;
}

#locationButton{
  margin-bottom:0.5em;
  font-weight:bold;
}
#lower_box{
  margin-top:1em;
}
.day_box{
  width:101px;
  height:138px;
  float:left;
  border-width:1px;
  border-style:solid none solid solid;
}
.last_day_box{
  width:101px;
  height:138px;
  float:left;
  border-width:1px;
  border-style:solid solid solid solid;
}
#day0, #day1{
  background-color:#ffffff;
}
.date_box{
  width:101px;
  height:28px;
  display:flex;
  align-items:center;
  justify-content:center;
}
.weather_icon_box{
  width:101px;
  height:54px;
  border-width:1px;
  border-top-style:solid;
  font-size:0.75em;
  text-align:center;
  display: table-cell;
  vertical-align: middle;
}
.temperature_box{
  width:101px;
  height:28px;
  border-width:1px;
  border-top-style:solid;
  display:flex;
  align-items:center;
  justify-content:center;
}
.lowTemp {
  color:blue;
}
.heighTemp {
  color:red;
}
.probability_box{
  width:101px;
  height:28px;
  border-width:1px;
  border-top-style:solid;
  display:flex;
  justify-content:center;
}
.menu_button{
  width:134px;
  text-align:center;
}
.region_title{
  margin-left:2em;
}
#jma_button{
  margin-top:1em;
}
