#main_box{
  margin:0.5em 0.5em 0.5em 0.5em;
  background-color:#f2f1f0;
}
#locationButton{
  margin-bottom:0.5em;
  font-weight:bold;
}
#weather_box{
  float:left;
}
.half_week_box{
  clear:both;
  border-width:1px;
  border-style:solid;
  width:408px;
  height:138px;
  margin: 0em 0.5em 0.5em 0em
}
.first_day_box{
  width:101px;
  height:138px;
  float:left;
}
.day_box{
  width:101px;
  height:138px;
  float:left;
  border-width:1px;
  border-left-style:solid;
}
#day0 {
  background-color:#ffffff;
}
#day1 {
  background-color:#ffffff;
}
.date_box{
  width:101px;
  height:28px;
  font-size:0.75em;
  display:flex;
  align-items:center;
  justify-content:center;
}
.weather_icon_box{
  width:101px;
  height:54px;
  border-width:1px;
  border-top-style:solid;
  font-size:0.75em;
  text-align:center;
  display: table-cell;
  vertical-align: middle;
}
.temperature_box{
  width:101px;
  height:28px;
  border-width:1px;
  border-top-style:solid;
  font-size:0.75em;
  display:flex;
  align-items:center;
  justify-content:center;
}
.probability_box{
  width:101px;
  height:28px;
  border-width:1px;
  border-top-style:solid;
  font-size:0.75em;
  display:flex;
  align-items:center;
  justify-content:center;
}
#button_box{
  float:left;
  width:101px;
}
.menu_button{
  width:134px;
  text-align:center;
}
#close_box{
  padding-top:2.0em;
}
#close_button{
  width:134px;
}
