#main_box{
  background-color:#f2f1f0;
  padding:0.5em;
  resize:none;
  margin:0px;
}
#content {
  width:768px;
  height:768px;
}
.container {
  width:768px;
  height:512px;
  display: grid;
  grid-gap: 0em;
  grid-template-columns: 256px 256px 256px 256px;
  grid-template-rows: 256px 256px 256px;
  clip: rect(64px, 832px, 712px, 160px);
  transform-origin: top left;
  transform: scale(0.8, 0.8);
}
div.base {
  filter: brightness(60%);
  position: fixed;
  top: -40px;
  left: -108px;
}
div.overlap{
  position: fixed;
  top: -40px;
  left: -108px;
}
img{
  width:256px;
  height:256px
}
#ok_box{
  margin-top:1em;
  text-align:right;
  position: fixed;
  top: 520px;
  right: 1%;
}
#ok_button{
  width:64px;
}
